

/*@font-face {
    font-family: 'Roboto';
    src: url('~/Arvo-Regular.ttf');
}*/

.container {
    font-size: 16px;
    background-color: rebeccapurple;
/*note - header color not finished*/
}

body {
    font-family: Arial;
    font-size: 16px;
}