

/*@font-face {
    font-family: 'Roboto';
    src: url('~/Arvo-Regular.ttf');
}*/
.navbar {
    /*note - header color not finished*/
    background-color: purple;

}

.navbar-inverse .navbar-nav > li > a {
    color: white;
}

.navbar-inverse .navbar-nav > li > a:hover {
    background-color: #8c58bf;
}

* {
    font: Arial;
}

body {
    font-family: Arial;
    font-size: 16px;
    background-color: #f0f0f0;
}

p {
    font: Arial;
}